.sidenav-container {
  height: 100%;
  font-weight:bold;
  position: relative;



}

.sidenav  {
  width:10%;

  background-color: #111;
  display: block;

  overflow-x: hidden;
  position: fixed;



}
.sidenav a{


  text-align: center;
  cursor: pointer;
  background: none;



}


.titre{
  color: #ffff;
  text-align: center;

	
font-weight:bold;
}
.lien{
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #f44336;
  text-align: center;
  border-radius: 10px
  



}

.active-list-item {
  color:gray !important; /* Note: You could also use a custom theme */
}

