<div style="width: 60%"class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
<mat-sidenav-container class="sidenav-container" >
    

    
      <div class="lien">

        <div class="titre">
            <p>Etudes Quantitatives d'image perçue "EQIP"</p>
            </div>
              
           
      <a  style="color: #ffff"  mat-list-item href="/admin-layout/reporting/Nuage-Mots" routerLinkActive="active-list-item">Nuage de mots</a><br><br>

      <a  style="color: #ffff"  mat-list-item routerLink="/admin-layout/reporting/nps" routerLinkActive="active-list-item">Net Promoter Score</a><br><br>

      <a style="text-align:center;color: #ffff" mat-list-item routerLink="/reporting/Note-Image-Prix" routerLinkActive="active-list-item">Image prix</a><br><br>
      <a  style="color: #ffff" mat-list-item routerLink="/reporting/promotions"routerLinkActive="active-list-item"> Promotion</a><br><br>

      <a style="color: #ffff" mat-list-item routerLink="/reporting/Note-Qualite-Produit"routerLinkActive="active-list-item">Qualité des produits</a><br><br>
      <a style="color: #ffff" mat-list-item routerLink="/reporting/Note-Amabilite-Personnel"routerLinkActive="active-list-item">Amabilité du personnel</a><br><br>
      <a style="color: #ffff" mat-list-item routerLink="/reporting/Note-Rapport-Qualite-Prix"routerLinkActive="active-list-item">Rapport qualité prix des produits à notre marque </a><br><br>
      <a style="color: #ffff" mat-list-item routerLink="/reporting/Note-Rapidite-Paiement"routerLinkActive="active-list-item">Rapidité et facilité de paiement de vos achats</a><br><br>
      <a style="color: #ffff" mat-list-item routerLink="/reporting/Note-Qualite-Materiel" routerLinkActive="active-list-item">Qualité du matériel mis à votre disposition</a><br><br>
      <a style="color: #ffff" mat-list-item routerLink="/reporting/Note-Choix-Produits"routerLinkActive="active-list-item">Choix dans notre assortiment        </a><br><br>
      <a style="color: #ffff" mat-list-item routerLink="/reporting/Note-Facilite-Trouver-Produits"routerLinkActive="active-list-item">Facilité à trouver les produits</a><br><br>
      <a style="color: #ffff" mat-list-item routerLink="/reporting/Note-Prix-Produits-Bio"routerLinkActive="active-list-item">Prix de nos produits bio</a><br><br>
      <a style=" color: #ffff" mat-list-item routerLink="/reporting/Note-Qualite-Produits-Bio"routerLinkActive="active-list-item">Qualité de nos produits bio</a><br><br>


     


 

 
</div>
</mat-sidenav-container>
</div>
</div>

</div>
</div>


