
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
<table class="customers">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Type Abonnement</th>
    <th>Date_facturation</th>
    <th>Comptes</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let societe of societes">
    <td>{{ societe.nom }}</td>
    <td>{{ societe.type_abonnement }}</td>
    <td>{{ societe.date_facturation }}</td>
    <td>
    <button type="submit" style="color:white;background:black;border-radius: 10px"   (click)="getSociete(societe.id)">
        <span class="glyphicon glyphicon-floppy-disk"></span> Creer
      </button>
    </td>
  </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>

