

 #chartupperleft {
    width: 100%;
    height:250px;
  }
  #chartupperright {
    width: 100%;
    height:250px;
  }
  
  #chartbottomleft {
    width: 100%;
    height:250px;
  }
  
  #chartbottomright {
    width: 100%;
    height:250px;
  }
  
  