<nav  class="navbar navbar-expand-lg navbar-dark bg-dark navbar-absolute fixed-top  ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <h1 style="color: white"> {{nom}}</h1>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
           
           
         
            <ul class="navbar-nav ml-auto">
               
          
               <li class="nav-item ">
                    <a style="color: white" class="nav-link" href="/admin-layout/dashboard">
                        <i class="material-icons">dashboard</i>Dashboard
                        <p>
                            <span class="d-lg-none d-md-block">Stats</span>
                        </p>
                    </a>
                </li>
             
                <li class="nav-item ">
                    <a  style="color: white"  class="nav-link" href="/admin-layout/twitter-settings">
                        <i class="material-icons">settings</i>
                   Paramétres
                    </a>
                </li>
                <li class="nav-item ">
                    <a style="color: white"  class="nav-link" href="/admin-layout/data-visualization">
                        <i class="fa fa-twitter"></i>
                    Twitter
                    </a>
                </li>
           
                    
                <li class="nav-item ">
                    <a style="color: white" class="nav-link">
                        <i class="material-icons">mail_outline</i>contact@booper.fr


                        <p>
                            <span class="d-lg-none d-md-block">Stats</span>
                        </p>
                    </a>
                </li> 
                  
            
                <li class="nav-item dropdown">
                    <a  style="color: white"  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                      >
                      <i class="material-icons">person</i>{{nom}}  </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                      <a class="dropdown-item" href="/admin-layout/about-hearing">Hearing</a>
                      <a (click)="logout()" class="dropdown-item" [routerLink]="" >Déconnexion</a>
                    </div>
                  </li>
            </ul>
        </div>
    </div>
</nav>




