<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Concurrents  de {{societe}}</h4>
                      <p class="card-category">Liste des  concurrents  de la societé {{societe}}</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                            <thead class=" text-primary">
                              <tr>    
                                <th>Concurrents</th>
                              </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let concurrent of concurrents">
                                
                                  <td>{{concurrent.nom}}</td>
                                </tr>
                                </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
