
<div class="main-content">
  <div class="container-fluid" >
      <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header-tabs card-header-info">
                      <h4 class="card-title">Ajouter une Enseigne</h4>
                      <p class="card-category"></p>
                  </div>
<div class="form-horizontal pad-10">
  <br>
  <form #ajoutSocieteForm="ngForm">
    <div class="col-md-12 form-group">
      <label style="color:black" class=" control-label">Nom Enseigne</label>
      <div class="col-md-12 no-padding">
        <input  name="nom" id="nom" #nom="ngModel" [(ngModel)]="societe.nom" class="form-control" placeholder="" type="text" required />
        <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-info">
          <div [hidden]="!nom.errors.required">
            Nom est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <label style="color:black" class=" control-label">Type Société</label>
      <div class="col-md-12 no-padding">
        <input name="type_abonnement" id="type_abonnement" #type_abonnement="ngModel" [(ngModel)]="societe.type_abonnement" class="form-control" placeholder="" type="text" required />
        <div *ngIf="type_abonnement.errors && (type_abonnement.dirty || type_abonnement.touched)" class="alert alert-info">
          <div [hidden]="!type_abonnement.errors.required">
            type_abonnement est requis!
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-12 form-group">
      <label style="color:black" class=" control-label">Date_Abonnement Ensigne</label>
      <div class="col-md-12 no-padding">
        <input name="date_facturation" id="date_facturation" #date_facturation="ngModel" [(ngModel)]="societe.date_facturation" class="form-control" placeholder="" type="date" required />
        <div *ngIf="date_facturation.errors && (date_facturation.dirty || date_facturation.touched)" class="alert alert-info">
          <div [hidden]="!date_facturation.errors.required">
            Date_Abonnement est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="pad-10">
      <button class="btn btn-info" mwlConfirmationPopover
              [popoverTitle]="'Confirmation'"
              [popoverMessage]="'êtes-vous sûr?'"
              placement="top"
              (click)="creerSociete(societe)"
              (confirm)="getSocieteView()"
              type="submit"  [disabled]="!ajoutSocieteForm.valid">
        <span class="glyphicon glyphicon-floppy-disk"></span> Sauvegarder
      </button>
    </div>
  </form>
</div>
</div>
</div>
<div class="col-md-8">
  <div class="card">
      <div class="card-header-tabs card-header-info">
          <h4 class="card-title ">Liste des  enseignes Clientes</h4>
          <p class="card-category"></p>

      </div>
      <div class="card-body">
        <div class="card-body table-responsive">
          <table class="table ">
              <thead style="text-align: center"class="text-primary">
    
      <th>Nom</th>
      <th>Type Abonnement</th>
      <th>Date_facturation</th>
      <th>Comptes</th>
      <th>Modifier Enseigne</th>
      <th>Supprimer Enseigne</th>

    </thead>
    <tbody  style="text-align: center">
    <tr *ngFor="let societe of societes">
      <td>{{ societe.nom }}</td>
      <td>{{ societe.type_abonnement }}</td>
      <td>{{ societe.date_facturation | date:"dd/MM/yyyy"  }}</td>
      <td>
      <button type="submit" class="btn btn-info"   (click)="getSociete(societe.id)">
          <span class="glyphicon glyphicon-floppy-disk"></span> Creer
        </button>
      </td>
      <td>
      <button type="submit" class="btn btn-info"   (click)="modifierSociete(societe.id)">
        <span class="glyphicon glyphicon-floppy-disk"></span> Modifier
      </button>
    </td>
        <td>
          <button type="submit" class="btn btn-info"   (click)="DeleteSociete(societe.id)">
              <span class="glyphicon glyphicon-floppy-disk"></span> Supprimer
            </button>
          </td>
    
      
    </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
</div>