


<div>
  <form>
<div *ngFor="let question of  questions; index as i" class="col-md-8 form-group">
  <div>
    <p> La société <b>{{ question.nom }} de {{question.adresse}}</b> nous a mandaté pour réaliser un sondage auprès de
      ses clients avec pour objectif d’améliorer la qualité de ses services. </p>
      <button id="mycheck" style="margin-left: 25%;width:50%;"mat-raised-button color="primary" (click)="scrollToForm()">Commencer</button>


      <label [attr.id]="1">

      </label>
    </div>




<div *ngFor="let choixquestionnaire of  choixquestionnaires; index as i" class="col-md-8 form-group">
    

 
      
      
</div>


</div>
</form>
</div>

