
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Questionnaires</h4>
                      <p class="card-category"> Liste des questionnaires  de la societé</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                            <thead class=" text-primary">
                              <tr>
                                <th>ID</th>
                                <th> PointVente</th>
                                <th>Sujet</th>
                                <th>Questions</th>
                            
                              </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let questionnaire of questionnaires">
                                  <td>{{ questionnaire.id }}</td>
                                  <td> {{ questionnaire.pointvente }}</td>
                                  <td>{{ questionnaire.sujet }}</td>
                                  <button type="submit" class="btn btn-danger" (click)="getQuestionnaire(questionnaire.id)" >
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Question
                                  </button>
                                  
                                </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
