#chartdiv2{
    width: 100%;
    height:100%;
  }
  #chartdiv1 {
    width: 100%;
    height:100%;
  }

  #chartdiv3 {
    width: 100%;
    height:100%;
  }

  #chartdiv4 {
    width: 100%;
    height:100%;
  }

  #instagram{ 
    background: #f09433; 

    }
    .image{
      text-align: center;
      padding: 10px;
    }