<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ajout Questionnaire</h4>
                      <p class="card-category">Ajouter un questionnaire </p>
                  </div>
<div class="form-horizontal pad-10">
	<form #ajoutQuestionnaireForm="ngForm">
	
		
		<h2> Objectif de  Questionnaire</h2>
		
		<div class="">
			<input name="sujet" id="sujet" #sujet="ngModel" [(ngModel)]="questionnaire.sujet" class="form-control" placeholder="" type="text" required />
			<div *ngIf="sujet.errors && (sujet.dirty || sujet.touched)" class="alert alert-danger">
			  <div [hidden]="!sujet.errors.required">
				Nom est requis!
			  </div>
			</div>
	    </div>



		<h2> Choix des thèmes </h2>

		<div *ngFor="let theme of theme;  index as i"   class="col-md-8 form-group">
			<label style="color: black"class="col-md-8">{{theme.theme}}</label>
        	<input   style="height:20px;" name="{{theme.theme}}"  id="{{theme}}" #{{theme.id}}="ngModel" [(ngModel)]="selection[i]"   class="col-md-4" type="checkbox"/>
    	</div>
    	<button mwlConfirmationPopover
              [popoverTitle]="'Confirmation'"
              [popoverMessage]="'êtes vous sûr ?'"
			  placement="top"
			  (confirm)="createSelectedTheme(detailquestionnaire)"
              (click)="creerQuestionnaire(questionnaire)"
              type="submit" class="btn btn-danger" [disabled]="!ajoutQuestionnaireForm.valid">
        <span class="glyphicon glyphicon-floppy-disk"></span> Sauvegarder
      </button>
	</form>
</div>
</div>
</div>

<div class="col-md-6">
	<div class="card">
			<div class="card-header card-header-danger">
					<h4 class="card-title ">Questionnaires</h4>
					<p class="card-category"> Liste des questionnaires  de la societé {{societe}}</p>
			</div>
			<div class="card-body">
					<div class="table-responsive">
							<table class="table">
								<thead class=" text-primary">
									<tr>
										<th>ID</th>
			 
										<th>Objectif</th>
										<th>Supprimer Questionnaire</th>
										<th>Questions</th>
								
								
									</tr>
									</thead>
									<tbody>
										<tr *ngFor="let questionnaire of questionnaires">
											<td>{{ questionnaire.id }}</td>
										
						
											<td>{{ questionnaire.sujet }}</td>
											<td>
													<button type="submit" class="btn btn-danger"   (click)="DeletQuestionnaire(questionnaire.id)">
															<span class="glyphicon glyphicon-floppy-disk"></span> Supprimer
														</button>
													</td>
													<td>
											<button type="submit" class="btn btn-danger" (click)="getQuestionnaire(questionnaire.id)" >
												<span class="glyphicon glyphicon-floppy-disk"></span> Question
											</button>
										</td>
										</tr>	
										</tbody>
							</table>
					</div>
			</div>
	</div>
</div>

</div>
</div>
</div>