<div class="main-content">
     <div class="container-fluid">
                
         
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header card-header-info">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 style="text-align: center" class="card-title">Nombres réponses totaux par mois </h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                </div>
             
               
            </div>




            <div class="row">
                
            <div class="col-md-4">
                    <div class="card card-chart">
                            <div class="card-header card-header-success">
                                    <div  id="radarchart"></div>
                                </div>
                            <div class="card-body">

                                    <h4 style="text-align: center" class="card-title">Concurrents</h4>


               
                                  </div>
                                  <div class="card-footer">
                                        <div class="stats">
                                         
                                        </div>
                                    </div>
       </div>
                     </div>
                     <div class="col-md-8">
                            <div class="card card-chart">
                                <div class="card-header card-header-warning">
                                    <div class="ct-chart" id="websiteViewsChart"></div>
                                </div>
                                <div class="card-body">
                                    <h4 style="text-align: center" class="card-title">Moyenne total des thémes</h4>
        
                               
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
    
      </div>


     

      
    </div>





 

      