/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-toastr/toastr.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pad-10 {
  padding: 10px 30px;
}
input {
  border: 1px solid #999;
}
select {
  border: 1px solid #999;
}