<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-info">
              <h4 class="card-title">Hearing</h4>
              <p class="card-category">Creer par la societé Booper</p>
          </div>
          <div class="card-body">
              <div id="typography">
                  <div class="card-title">
                     
                  </div>
                  <div class="row">
                      <div class="tim-typo">
                          <h1>
                              <span style="text-align: center" class="tim-note"></span>MESURE DE L’IMAGE PRIX MAIS PAS QUE...</h1>
                      </div>
                     
                   
                      <div style="text-align: center"class="tim-note">
                          <blockquote class="blockquote">
                              <p>
                                      Mesure de la satisfaction des clients sur les prix afin d’apporter à la fois une réponse économique (ROI) mais aussi d’image de long terme (Price image) et ce afin de promouvoir des solutions durables pour nos clients</p>
                       
                          </blockquote>
                      </div>
  
                      <div style="text-align: center" class="tim-note">
                              <blockquote class="blockquote">
                                  <p>
                                          Dans la distribution alimentaire, tout le monde s’accorde à dire qu’une augmentation de prix peut être nuisible à l’image prix et qu’une baisse de prix n’est pas nécessairement positive pour celle-ci. La vraie performance proposée par Booper est d’optimiser les marges et l’image prix en étant sélectif sur les hausses de prix pour les marges et pertinent sur les baisses de prix pour l’image.                         
                                 </p>
                                      </blockquote>
                          </div>
                          <div style="text-align: center" class="tim-note">
                               
                                  <blockquote class="blockquote">
                                      <p>
                                              La performance sera un mix entre l’amélioration de l’image prix contribuant à la croissance des débits et de la masse de marge à moyen long terme et l’amélioration ou la moindre dégradation des marges à court terme.                                   </p>
                                          </blockquote>
                              </div>
  
                            
                  
                              
                      <div style="text-align: center" class="tim-note">
                          <h2>
                              "Quand nos concurrents vous parlent de croissance de la marge, Hearing vous garantit en plus le suivi de l’image pour le même prix ""                           <br>
                          </h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  